body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	padding: 0em;
	margin: 0em;
	border: 0em;
	background-color: #f8f9fa;
}

#profImage{
	position: fixed;
	width: 71.5vh;
	height: 95vh;
	float: right;
	right: 10vw;
	bottom: 0;
}

#bodyText{
  color: #212529;
	text-align: left;
	width: 40em;
	padding-left: 4.5em;
}

#titleText{
	font-weight: 500;
	font-size: 3.4em;
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}

#subHead{
	font-weight: 500;
	font-size: 1.4em;
}


#icons{
  margin-right: 1em;
  font-size: 1.8em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.mouse:hover {
  transition: all 0.2s ease;
  color: #2ecc71;
}

@media only screen and (max-width: 1100px) {
  #profImage {
  	display: none;
  }
  #bodyText{
  	padding: 0;
  	width: 85%;
  	margin: auto;
  }
}

p {
  font-weight: 300;
}

a {
  color: #19191A;
  font-weight: 400;
  text-decoration: none;
}
