body {
	padding: 0px;
	margin:0px;
	padding-bottom:150px;
}

/*.custom {
	margin:0px auto!important;
}*/

#logo {
	display:inline;
	height:38px;
	width:auto;
	margin-right:15px;
	padding-top:5px;
}

@font-face {
	font-family:latobold;
	src:url(../fonts/Lato/Lato-Bold.ttf);
}

@font-face {
	font-family:latolight;
	src:url(../fonts/Lato/Lato-Light.ttf);
}
	
.highlight {
	border:2px solid white!important;
	height:20px;
	background-color:black!important;
}
	
#flavortext{
	margin-top: 10px;
	margin-bottom: 50px;
	color: #4d4d4d;
	font-family: latolight;
	font-size: 1.2em;
	text-align: center;
}

#title {
	text-align:center;
	font-size:40px;
	color:#222222;
	font-family:latobold;
	margin-top:100px;
	cursor:pointer;
	z-index:9999;
}

.thumb {
	height:130px;
	width:200px;
	background-size:cover;
	display:inline-block;
	margin:0px auto;
	float:left;
	cursor:pointer;
	z-index:9999;
}

.topWrapper {
    width:600px;
	display:block;
	margin:0px auto;
    text-align:center;
}

#logout, #login, #getPhotos, #anothercover, #anotherprof, #yes {
	display:block;
	margin:0px auto;
	background-color:#333333;
	font-family:helvetica;
	color:white!important;
	border:2px solid black;
	border-radius:2px;
	cursor:pointer!important;
	z-index:9999;
	margin-top:25px;
	width:150px;
	height:35px;
}

#login {
	clear:both;
}

#yes {
	background-color:#30cd72 !important;
	border: 2px solid #30cd72 !important;
}

#yes:hover {
	background-color:#28b061 !important;
	border: 2px solid #28b061 !important;
	transition:ease all .1s;
}

#buttonscenter:nth-child(1n) {
   cursor: pointer;
}

.hashCategory {
	height:35px;
	width:120px;
	margin:20px;
	padding-top:15px;
	border-radius:4px;
	color:white;
	font-family:latobold;
	cursor:pointer!important;
	z-index:9999;
}

#anothercover, #anotherprof {
	margin-right:20px;
}

#buttonscenter {
	width:300px;
	margin:0 auto;
}

#demo {
	width:250px;
	height:155px;
	border:2px solid #222222;
	margin-bottom:40px;
	float:right;
}

#demo2 {
	width:250px;
	float:left;
	height:auto;
	border:2px solid #222222;
	margin-bottom:40px;
}

#coverSelect, #profileSelect {
	margin:0px auto;
	background-color:white;
	font-family:helvetica;
	border:2px solid black;
	border-radius:2px;
	cursor:pointer!important;
	margin-top:15px;
	width:120px;
	height:45px;
	font-size:12px;
	padding-top:75px;
	z-index:9999;
}

#buttonscenter {
	z-index:1 !important;
}

div.custom {
	margin:0px auto!important;
	margin-right:80px!important;
	width:190px!important;
	clear:both;
	margin-top:20px!important;
}

.trending, .social, .politics, .sports, .entertainment, .custom {
	z-index:9999!important;
	cursor:pointer!important;
	display:none;
	border:none;
	width:auto;
	height:35px;
	color:white;
	margin:20px;
	font-family:latobold;
	padding-top:15px;
	border-radius:4px;
	padding-left:10px;
	padding-right:10px;
}

#profileSelect {
	float:left;
	background-image:url("../images/profile_dark.png");
	background-size:35px;
	background-repeat:no-repeat;
	background-position: 50% 35%;
	transition:ease all .1s;
}

#profileSelect:hover {
	background-color:#222222!important;
	background-image:url("../images/profile_light.png");
	color:white!important;
}

#coverSelect {
	float:right;
	background-image:url("../images/cover_dark.png");
	background-size:35px;
	background-repeat:no-repeat;
	background-position: 50% 35%;
	transition:ease all .1s;
}

#singlephotohere img {
	width:400px;
	height:auto;
	border:2px solid #222222;
	margin-bottom:30px;
}

#coverSelect:hover {
	background-color:#222222!important;
	background-image:url("../images/cover_light.png");
	color:white!important;
}

#login, #logout {
	border:2px solid #3b5998 !important;
	background-color:#3b5998!important;
	color: white !important;
}

#login:hover, #logout:hover {
	background-color:#516da5 !important;
	color:white!important;
	transition:ease all .1s;
}

#logout, #getPhotos, #coverSelect, #profileSelect, #anothercover, #anotherprof, #yes, .hashCategory, #backButton, #submitButton {
	display:none;
}

#getPhotos {
	border:2px solid #222222 !important;
	background-color:#333333 !important;
	color: white !important;
}

#getPhotos:hover, #anothercover:hover, #anotherprof {
	background-color:#666666 !important;
	border:2px #666666 solid !important;
	transition:ease all .1s;
}

#status {
	width:100%;
	text-align:center;
	font-family:helvetica;
	margin-top:35px;
}

img {
	width:600px;
	height:auto;
	margin:0px auto;
	display:block;
}

.tag {
	display:none;
}

#radioForm {
	display:none;
}

#radioForm input {
	display:inline;
}

#radioForm label {
	display:inline;
	font-family:helvetica;
}

#backButton, #submitButton {
	margin:0px auto;
	background-color:#333333;
	font-family:helvetica;
	color:white!important;
	border-radius:2px;
	cursor:pointer!important;
	z-index:9999;
	margin-top:25px;
	width:150px;
	height:25px;
	padding-top:10px;
	font-size:12px;
}

#submitButton:hover {
	background-color:#6ad896!important;
	transition:ease all .1s;
}

#backButton:hover {
	background-color:#666666!important;
	transition:ease all .1s;
}

#customInput {
	border:2px solid #222222;
	color:#222222;
	font-family:latobold;
	height:45px;
	width:150px;
	padding:0px;
	font-size:20px;
	float:left;
	margin-left:150px;
	margin-right:0px;
	padding-right:0px;
	padding-left:10px;
}

#customSubmit {
	border:2px solid #222222;
	color:white;
	background-color:#222222;
	height:48px;
	width:80px;
	float:right;
	padding-top:0px;
	margin-right:190px;
	margin-left:0px;
	padding-left:7px;
	font-size:14px;
}